[Desktop Entry]
Type=Application
Categories=Utility;Electronics;
Encoding=UTF-8
Comment=a GTK+ serial port terminal
TryExec=gtkterm
Exec=gtkterm
GenericName=Serial Port Terminal
Icon=gtkterm
Name=GTKTerm

Name[en_US]=gtkterm
